.input-format {
  background: #f3f3f3;
  margin-top: 5px;
  border-radius: 10px;
  letter-spacing: 1px;
  height: 52px;
  color: white;

  ion-icon {
    margin-left: 0px;
    font-size: medium;
    color: black;
  }

  ion-select {
    font-size: 12px;
  }

  ion-input {
    font-size: 12px;
  }

  ion-datetime {
    font-size: 12px;
  }
}

ion-checkbox.checkbox-disabled {
  opacity: 1;
}

.vertical {
  position: absolute;
  top: 40%;
  right: 0px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}