<input #upload id="upload" type="file" hidden (change)="onFileChange($event)">
<input #upload2 id="upload2" type="file" hidden (change)="onFileChange2($event)">
<ion-app style="background-color: #f3f3f3;" [hidden]="showEdit || showAllocate">
  <ion-header class="ion-no-border" style=" background-color: #473f97;">
    <ion-toolbar class="transparent" style="padding: 5px 10px;">
      <ion-back-button mode="ios" style="color: white;" slot="start" defaultHref="/sales-master2">
      </ion-back-button>
      <ion-title style="color: white; font-size: 16px;" mode="ios" *ngIf="dataJson">{{dataJson.Quotation}}
      </ion-title>
      <ion-icon name="trash-outline" slot="end" style="color: white; font-size: 25px; margin-right: 10px;" (click)="cancelQuote()" [hidden]="segmentValue !== 'Quotation' || showEdit || showAllocate"></ion-icon>
    </ion-toolbar>

    <ion-segment color="primary" [value]="segmentValue" style="--background:rgb(255, 255, 255, .5);"
      [(ngModel)]="segmentValue">
      <ion-segment-button value="Vehicle">
        <ion-label>Vehicle</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Quotation">
        <ion-label>Collection</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Attachment">
        <ion-label>Attachment</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>

  <!-- SEGMENT: Quotation -->
  <ion-content class="transparent" [hidden]="segmentValue !== 'Quotation'">
    <div class="Sales" style="margin: 10px;" *ngIf="dataJson">
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="4" class="left-sales-col">Forecast Sales</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ForecastUnit}}</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ForecastSales | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" class="left-sales-col">Release Sales</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ReleasedUnit}}</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ReleasedSales | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" class="left-sales-col">Pending Sales</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.PendingUnit}}</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.PendingSales | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" class="left-sales-col">Closed Sales</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ClosedUnit}}</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.ClosedSales | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" class="left-sales-col">Canceled Sales</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.CanceledUnit}}</ion-col>
          <ion-col size="4" class="right-sales-col">{{dataJson.CanceledSales | number}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="hr" style="margin: 10px 0px;"> </div>

    <!-- DEPOSIT -->
    <ion-card *ngIf="dataJson">
      <ion-card-header style="text-align: center; background-color: rgb(206, 205, 205); color: black; padding: 5px;">
        DEPOSIT</ion-card-header>
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Forecast</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ForecastDeposit"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Must Collect</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ReleasedDeposit"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Total Collected</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.CollectedDeposit" [readOnly]="true"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="create-outline" (click)="edit('Deposit')" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Allocated</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.AllocatedDeposit"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="calculator-outline" (click)="allocate('Deposit', dataJson.AllocatedDeposit, dataJson.RemainingDeposit)" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Remaining</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.RemainingDeposit"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- LOAN -->
    <ion-card *ngIf="dataJson">
      <ion-card-header style="text-align: center; background-color: rgb(206, 205, 205); color: black; padding: 5px;">
        LOAN</ion-card-header>
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Forecast</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ForecastLoan"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Must Collect</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ReleasedLoan"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Total Collected</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.CollectedLoan"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- BALANCE -->
    <ion-card *ngIf="dataJson">
      <ion-card-header style="text-align: center; background-color: rgb(206, 205, 205); color: black; padding: 5px;">
        BALANCE</ion-card-header>
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Forecast</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ForecastBalance"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Must Collect</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ReleasedBalance"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Total Collected</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.CollectedBalance" [readOnly]="true"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="create-outline" (click)="edit('Balance')" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Allocated</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.AllocatedBalance"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="calculator-outline" (click)="allocate('Balance', dataJson.AllocatedBalance, dataJson.RemainingBalance)" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Remaining</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.RemainingBalance"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- REFUND -->
    <ion-card *ngIf="dataJson">
      <ion-card-header style="text-align: center; background-color: rgb(206, 205, 205); color: black; padding: 5px;">
        REFUND</ion-card-header>
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Forecast</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ForecastReimburse"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Must Pay</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.ReleasedReimburse"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Total Collected</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.PaidReimburse" [readOnly]="true"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="create-outline" (click)="edit('Reimburse')" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Allocated</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.AllocatedReimburse"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
          <ion-col size="1" style="text-align: center; padding: 0px;">
            <ion-icon name="calculator-outline" (click)="allocate('Reimburse', dataJson.AllocatedReimburse, dataJson.RemainingReimburse)" class="icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="4" style="margin-top: 5px;">
            <ion-label class="card-left">Remaining</ion-label>
          </ion-col>
          <ion-col size="7">
            <input currencyMask [(ngModel)]="dataJson.RemainingReimburse"
              [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>

  <!-- SEGMENT: Vehicle -->
  <ion-content class="transparent" [hidden]="segmentValue !== 'Vehicle'">
    <div class="Sales" style="margin: 10px;" *ngIf="dataJson">
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="10" class="left-sales-col" style="font-size: 14px;">{{dataJson.MakeName}} /
            {{dataJson.ModelName}}</ion-col>
          <ion-col size="2" style="text-align: right; font-size: 14px;">{{dataJson.ForecastUnit}} Unit</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="hr" style="margin: 10px 0px;"></div>

    <div *ngIf="dataSalesJson">
      <ion-card *ngFor="let item of dataSalesJson; trackBy: trackItem">
        <ion-card-header [ngClass]="item.CanClose ? 'required' : ''" [style.backgroundColor]="colorController(item.Status)" style="padding: 5px">
          <ion-grid class="no-margin-padding">
            <ion-row class="no-margin-padding">
              <ion-col class="no-margin-padding" size="7" style="margin-top: 5px; color: black;">
                <ion-label [hidden]="!item.ChassisNumber">{{item.ChassisNumber}}</ion-label>
                <ion-label [hidden]="item.ChassisNumber">Chassis Number Not Assign</ion-label>
              </ion-col>
              <ion-col class="no-margin-padding" size="2" style=" text-align: right; margin-top: 5px;">
                <ion-label style="color: black; font-size: 15px;"
                (click)="util.goto('sales-potential2', 'progress', item.Id)">{{item.Progress}} %</ion-label>
              </ion-col>
              <ion-col class="no-margin-padding" size="2"  style=" text-align: center;">
                <ion-icon name="information-circle-outline" style="font-size: 20px; color: black;  margin-top: 5px;"
                  (click)="util.goto('sales-potential2', 'sales-detail', item.Id)"></ion-icon>
              </ion-col>
              <ion-col class="no-margin-padding" size="1">
                <ion-icon [name]="(item.setOpen)? 'chevron-up-outline' : 'chevron-down-outline'"
                style="color: black; font-size: 20px; margin-right: 5px; float: right; vertical-align: middle;  margin-top: 5px;"
                (click)="expand(item.Id)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <div class="salesTable" [hidden]="!item.setOpen" style="padding: 5px;">
          <ion-row class="no-margin-padding">
            <ion-col class="borderEmpty" size="4">

            </ion-col>
            <ion-col class="header">
              <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col class="header">
              <ion-label>Collected</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left" size="4">
              <ion-label>Sales</ion-label>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.Sales" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true"/>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.SalesCollected" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left" size="4">
              <ion-label>Deposit</ion-label>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.Deposit" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } "[readOnly]="true"/>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.DepositCollected" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left" size="4">
              <ion-label>Loan</ion-label>
            </ion-col>
            <ion-col [ngClass]="(item.IsLoan) ? 'cellDisabled' : 'cellDisabled'">
              <input currencyMask [(ngModel)]="item.Loan" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true"  />
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.LoanCollected" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left" size="4">
              <ion-label>Balance</ion-label>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.Balance" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true"/>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.BalanceCollected" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left" size="4">
              <ion-label>Reimburse</ion-label>
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.Reimburse" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
            <ion-col class="cellDisabled">
              <input currencyMask [(ngModel)]="item.ReimbursePaid" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
          <ion-row class="no-margin-padding">
            <ion-col class="header-left borderbottom" size="4">
              <ion-label>Outstanding</ion-label>
            </ion-col>
            <ion-col class="cellDisabled borderbottom">
              <input currencyMask [(ngModel)]="item.Outstanding" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
            <ion-col class="cellDisabled borderbottom">
              <input currencyMask [(ngModel)]="item.OutstandingCollected" [placeholder]="0"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  } " [readOnly]="true" />
            </ion-col>
          </ion-row>
        </div>
        
        <ion-card-header style.backgroundColor="rgb(198, 195, 195)" style="padding: 5px;">
          <ion-grid class="no-margin-padding">
            <ion-row class="no-margin-padding">
              <!-- Release -->
              <ion-col style="text-align: center;" [hidden]="item.Status !== 0">
                <ion-button style="text-align: center; --background: #473f97;" expand="block" (click)="prerelease(item)">
                  <ion-icon style="margin-right: 8px; vertical-align: middle;" name="checkmark-outline"></ion-icon> Release
                </ion-button>
              </ion-col>
              <!-- Close -->
              <ion-col style="text-align: center;" [hidden]="item.Status !== 1">
                <ion-button style="text-align: center; --background: #473f97;" expand="block" (click)="close(item)">
                  <ion-icon style="margin-right: 8px; vertical-align: middle;" name="close-outline"></ion-icon> Close
                </ion-button>
              </ion-col>
              <!-- Cancel -->
              <ion-col style="text-align: center;" [hidden]="![0,1].includes(item.Status)">
                <ion-button style="text-align: center; --background: #473f97;" expand="block" (click)="cancelSales(item)">
                  <ion-icon style="margin-right: 8px; vertical-align: middle;" name="close-outline"></ion-icon> Cancel
                </ion-button>
              </ion-col>
              <!-- Revert Cancel -->
              <ion-col style="text-align: center;" [hidden]="item.Status !== 9">
                <ion-button style="text-align: center; --background: #473f97;" expand="block" (click)="revertCancel(item)">
                  <ion-icon style="margin-right: 8px; vertical-align: middle;" name="arrow-undo"></ion-icon> Revert Cancel
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>

  <!-- SEGMENT: Attachment -->
  <ion-content class="transparent" [hidden]="segmentValue !== 'Attachment'" *ngIf="attachmentJson">
    <div *ngIf="attachmentJson.length === 0">
      <ion-label class="vertical3">No Data</ion-label>
    </div>

    <div *ngIf="attachmentJson.length > 0">
      <ion-card style="padding: 0px; margin-top: 15px; background-color: rgb(214, 213, 213);"
        *ngFor="let img of attachmentJson; index as i; trackBy: trackItem">

        <ion-toolbar style="--background: #596bf4; padding: 0px 10px;">
          <ion-row>
            <ion-col size="6" style="margin: 0; padding: 0%; text-align: left;">
              <ion-label style="color: white; margin: 0; padding: 0%">
                {{img.CreatedOn | date:'dd-MM-YYYY hh:mm a'}}</ion-label>
            </ion-col>
            <ion-col size="6" style="margin: 0; padding: 0%; text-align: right;">
              <ion-label style="color: white; margin: 0; padding: 0%">
                {{img.CreatedBy}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-toolbar>
        <div>
          <ion-button color="danger" style="max-width: 50px; position: absolute; right: 10px;"
            (click)="deleteImage(img.Id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <div *ngIf="extensionJson[i] === 'Image'">
            <ion-img ionImgViewer style="object-fit: contain; width: 100%; max-height: 180px; height: 180px;"
              [src]="img.Path + sas" [alt]="img.Info"></ion-img>
          </div>

          <div *ngIf="extensionJson[i] === 'docs'" style=" text-align: right;">
            <ion-button color="danger" style="max-width: 50px; margin-right: 15px;" (click)="deleteImage(img.Id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <a [href]="img.Path + sas" target="_blank">
              <ion-button expand="full" class="action-menu-button" *ngIf="extensionJson[i] === 'docs'" style="margin: 15px;">
                <ion-icon name="cloud-download-outline" style="margin-right: 15px;"></ion-icon>Download File
              </ion-button>
            </a>
          </div>
        </div>
        <ion-card-header style="--background: #595959; color: white; text-align: left; padding: 2px;">
          <ion-input type="string" auto-grow="true" [(ngModel)]="list[i]" [rows]="1" style="padding: 3px;" readOnly="true">
          </ion-input>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

<!-- Edit Collected -->
<ion-app style="background-color: #f3f3f3;" [hidden]="!showEdit">
  <ion-header class="ion-no-border" style="background-color: #473f97;">
    <ion-toolbar class="transparent" style="padding: 5px 2px 5px 5px;">
      
      <ion-label (click)="cancel()">
        <ion-icon style="color: white; font-size: 28px; vertical-align: middle;" name="chevron-back-outline"></ion-icon>
        <ion-label style="color: white; font-size: 17px; vertical-align: middle;">Back</ion-label>
      </ion-label>

      <ion-title style="color: white; font-size: 18px;" mode="ios" *ngIf="dataJson">
        {{currentField}}
      </ion-title>
      <ion-icon style="font-size: 28px; color: white; padding-right: 10px;" slot="end" name="save-outline" (click)="proceed()"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content class="transparent">
    <ion-grid class="no-margin-padding">
      <ion-row class="no-margin-padding">
        <ion-col size="4" style="margin-top: 5px;">
          <ion-label class="card-left">Required</ion-label>
        </ion-col>
        <ion-col size="8">
          <input currencyMask [(ngModel)]="requiredValue"
            [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
        </ion-col>
      </ion-row>
      <ion-row class="no-margin-padding">
        <ion-col size="4" style="margin-top: 5px;">
          <ion-label class="card-left">Must Collected</ion-label>
        </ion-col>
        <ion-col size="8">
          <input currencyMask [(ngModel)]="mustValue"
            [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
        </ion-col>
      </ion-row>
      <ion-row class="no-margin-padding">
        <ion-col size="4" style="margin-top: 5px;">
          <ion-label class="card-left">Collected</ion-label>
          <ion-icon name="refresh-outline" style="vertical-align: middle; font-size: 20px; float: right; color: black;" (click)="resetCollection()" *ngIf="currentValue !== 0"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <input currencyMask [(ngModel)]="currentValue"
            [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" [readOnly]="true" />
        </ion-col>
      </ion-row>
      <ion-row class="no-margin-padding">
        <ion-col size="4" style="margin-top: 5px;">
          <ion-label class="card-left">Collect Now</ion-label>
        </ion-col>
        <ion-col size="8">
          <input currencyMask [(ngModel)]="newValue" style="background-color: rgba(198,239,206,255);"
            [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

<!-- Allocated -->
<ion-app style="background-color: #f3f3f3;" [hidden]="!showAllocate">
  <ion-header class="ion-no-border" style="background-color: #473f97;">
    <ion-toolbar class="transparent" style="padding: 5px 2px 5px 5px;">
      
      <ion-label (click)="cancel()">
        <ion-icon style="color: white; font-size: 28px; vertical-align: middle;" name="chevron-back-outline"></ion-icon>
        <ion-label style="color: white; font-size: 17px; vertical-align: middle;">Back</ion-label>
      </ion-label>

      <ion-title style="color: white; font-size: 18px;" mode="ios" *ngIf="dataJson">
        {{currentField}}
      </ion-title>
      <ion-icon style="font-size: 28px; color: white; padding-right: 10px;" slot="end" name="save-outline" [hidden]="currentField !== 'Deposit'" (click)="allocateProceed('DepositCollected')"></ion-icon>
      <ion-icon style="font-size: 28px; color: white; padding-right: 10px;" slot="end" name="save-outline" [hidden]="currentField !== 'Loan'" (click)="allocateProceed('LoanCollected')"></ion-icon>
      <ion-icon style="font-size: 28px; color: white; padding-right: 10px;" slot="end" name="save-outline" [hidden]="currentField !== 'Balance'" (click)="allocateProceed('BalanceCollected')"></ion-icon>
      <ion-icon style="font-size: 28px; color: white; padding-right: 10px;" slot="end" name="save-outline" [hidden]="currentField !== 'Reimburse'" (click)="allocateProceed('ReimbursePaid')"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="transparent"> 
    <div class="Sales" style="margin: 10px;" *ngIf="dataJson">
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="10" class="left-sales-col" style="font-size: 14px;">{{dataJson.MakeName}} /
            {{dataJson.ModelName}}</ion-col>
          <ion-col size="2" style="text-align: right; font-size: 14px;">{{dataJson.ForecastUnit}} Unit</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="hr" style="margin: 10px 0px;"></div>
    
    <div class="Sales" style="margin: 10px;" *ngIf="dataJson">
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col size="8" class="left-sales-col" style="font-size: 15px;">Total {{currentField}} Collected</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Deposit'">{{dataJson.CollectedDeposit | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Loan'">{{dataJson.CollectedLoan | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Balance'">{{dataJson.CollectedBalance | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Reimburse'">{{dataJson.PaidReimburse | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="8" class="left-sales-col" style="font-size: 15px;">Total {{currentField}} Allocated</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Deposit'">{{dataJson.AllocatedDeposit | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Loan'">{{dataJson.AllocatedLoan | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Balance'">{{dataJson.AllocatedBalance | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Reimburse'">{{dataJson.AllocatedReimburse | number}}</ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col size="8" class="left-sales-col" style="font-size: 15px;">Total {{currentField}} Remaining</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Deposit'">{{dataJson.RemainingDeposit | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Loan'">{{dataJson.RemainingLoan | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Balance'">{{dataJson.RemainingBalance | number}}</ion-col>
          <ion-col size="4" style="text-align: right; font-size: 15px;" [hidden]="currentField !== 'Reimburse'">{{dataJson.RemainingReimburse | number}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="hr" style="margin: 10px 0px;"></div>
    
    <div *ngIf="dataSalesJson">
      <ion-card *ngFor="let item of dataSalesJson; trackBy: trackItem">
        <ion-card-header [style.backgroundColor]="colorController(item.Status)">
          <ion-checkbox style="vertical-align: middle; margin-right: 15px;" [(ngModel)]="item.isChecked" (ionChange)="checkboxChange(item, currentField, $event)"></ion-checkbox>
          <ion-label [hidden]="!item.ChassisNumber">{{item.ChassisNumber}}</ion-label>
          <ion-label [hidden]="item.ChassisNumber">Chassis Number Not Assign</ion-label>
          <ion-icon [name]="(item.setOpen)? 'chevron-up-outline' : 'chevron-down-outline'"
            style="color: black; font-size: 23px; margin-right: 5px; float: right; vertical-align: middle;"
            (click)="expand(item.Id)"></ion-icon>
        </ion-card-header>
        <div class="Sales" style="margin: 10px;" [hidden]="!item.setOpen">
          <ion-grid class="no-margin-padding">
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col"></ion-col>
              <ion-col size="3" style="text-align: right;">Sales</ion-col>
              <ion-col size="3" style="text-align: right;">Collected</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Selling Price</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Sales | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.SalesCollected | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Deposit</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Deposit | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.DepositCollected | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Loan</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Loan | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.LoanCollected | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Balance</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Balance | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.BalanceCollected | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Reimburse</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Reimburse | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.ReimbursePaid | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Outstanding</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.Outstanding | number}}</ion-col>
              <ion-col size="3" class="right-sales-col">{{item.OutstandingCollected | number}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Required Loan</ion-col>
              <ion-col size="4">{{(item.IsLoan) ? 'Yes' : 'No'}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Required Body Work</ion-col>
              <ion-col size="4">{{(item.IsBodyWork) ? 'Yes' : 'No'}}</ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col size="6" class="left-sales-col">Application</ion-col>
              <ion-col size="4">{{item.ApplicationName}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-card-header style="padding: 5px; background-color: rgb(198, 195, 195);">
          <ion-grid class="no-margin-padding">
            <ion-row class="no-margin-padding">
              <ion-col>
                <ion-label style="vertical-align: middle; color: black;">Required</ion-label>
              </ion-col>
              <ion-col>
                <ion-label style="vertical-align: middle; color: black;">Allocated</ion-label>
                <ion-icon name="refresh-outline" style="vertical-align: middle; font-size: 20px; float: right; color: black;" (click)="resetAllocation(currentField, item)" *ngIf="currentField === 'Deposit' && item.DepositCollected"></ion-icon>
                <ion-icon name="refresh-outline" style="vertical-align: middle; font-size: 20px; float: right; color: black;" (click)="resetAllocation(currentField, item)" *ngIf="currentField === 'Loan' && item.LoanCollected"></ion-icon>
                <ion-icon name="refresh-outline" style="vertical-align: middle; font-size: 20px; float: right; color: black;" (click)="resetAllocation(currentField, item)" *ngIf="currentField === 'Balance' && item.BalanceCollected"></ion-icon>
                <ion-icon name="refresh-outline" style="vertical-align: middle; font-size: 20px; float: right; color: black;" (click)="resetAllocation(currentField, item)" *ngIf="currentField === 'Reimburse' && item.ReimbursePaid"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-label style="vertical-align: middle; color: black;">Allocate Now</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="no-margin-padding">
              <ion-col>
                <input currencyMask [hidden]="currentField !== 'Deposit'" [(ngModel)]="item.Deposit" (ngModelChange)="inputChange('DepositCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Loan'" [(ngModel)]="item.Loan" (ngModelChange)="inputChange('LoanCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Balance'" [(ngModel)]="item.Balance" (ngModelChange)="inputChange('BalanceCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Reimburse'" [(ngModel)]="item.Reimburse" (ngModelChange)="inputChange('ReimbursePaid', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
              </ion-col>
              <ion-col>
                <input currencyMask [hidden]="currentField !== 'Deposit'" [(ngModel)]="item.DepositCollected" (ngModelChange)="inputChange('DepositCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Loan'" [(ngModel)]="item.LoanCollected" (ngModelChange)="inputChange('LoanCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Balance'" [(ngModel)]="item.BalanceCollected" (ngModelChange)="inputChange('BalanceCollected', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
                <input currencyMask [hidden]="currentField !== 'Reimburse'" [(ngModel)]="item.ReimbursePaid" (ngModelChange)="inputChange('ReimbursePaid', item, $event)" style="background-color: rgba(238,238,238,1);"
                [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }" readonly="true"/>
              </ion-col>
              <ion-col>
                <input currencyMask [hidden]="currentField !== 'Deposit'" [(ngModel)]="item.tempField" (ngModelChange)="inputChange('DepositCollected', item, $event)" [readOnly]="item.Deposit===item.DepositCollected || ![0,1].includes(item.Status)" 
                [style.backgroundColor]="colorController2(item.Deposit===item.DepositCollected  || ![0,1].includes(item.Status), item)" [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }"/>
                <input currencyMask [hidden]="currentField !== 'Loan'" [(ngModel)]="item.tempField" (ngModelChange)="inputChange('LoanCollected', item, $event)" [readOnly]="item.Loan===item.LoanCollected || ![0,1].includes(item.Status)" style="background-color: rgba(198,239,206,255);"
                [style.backgroundColor]="colorController2(item.Loan===item.LoanCollected || ![0,1].includes(item.Status), item)" [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }"/>
                <input currencyMask [hidden]="currentField !== 'Balance'" [(ngModel)]="item.tempField" (ngModelChange)="inputChange('BalanceCollected', item, $event)" [readOnly]="item.Balance===item.BalanceCollected || ![0,1].includes(item.Status)" style="background-color: rgba(198,239,206,255);"
                [style.backgroundColor]="colorController2(item.Balance===item.BalanceCollected || ![0,1].includes(item.Status), item)" [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }"/>
                <input currencyMask [hidden]="currentField !== 'Reimburse'" [(ngModel)]="item.tempField" (ngModelChange)="inputChange('ReimbursePaid', item, $event)" [readOnly]="item.Reimburse===item.ReimbursePaid || ![0,1].includes(item.Status)" style="background-color: rgba(198,239,206,255);"
                [style.backgroundColor]="colorController2(item.Reimburse===item.ReimbursePaid || ![0,1].includes(item.Status), item)" [options]="{ thousands: ',', prefix: '', decimal: '.', precision: 2  }"/>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
</ion-app>