<ion-app style="background-color: #f3f3f3;">
  <ion-header class="ion-no-border" style="padding: 5px 10px; background-color: #473f97;">
    <ion-toolbar class="transparent">
      <ion-menu-button slot="start" style="color: white;"></ion-menu-button>
      <ion-title style="color: white; font-size: 16px;" mode="ios">Stock</ion-title>
    </ion-toolbar>

    <ion-toolbar class="transparent">
      <!-- Status -->
      <ion-grid class="no-margin-padding">
        <ion-row class="no-margin-padding">
          <ion-col class="no-margin-padding" [size]="(focusSelected===1 ? '9' : '12')">
            <div class="input-format">
              <ion-item color="transparent" lines="none">
                <ion-label position="stacked">Focus On:</ion-label>
                <ion-select [(ngModel)]="focusSelected" interface="action-sheet" style="margin-bottom: 12px;">
                  <ion-select-option [value]="0">Order (No Chassis)</ion-select-option>
                  <ion-select-option [value]="1">Stock aging more than</ion-select-option>
                  <ion-select-option [value]="2">All Stock</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="no-margin-padding" size="3" [hidden]="focusSelected!==1">
            <div class="input-format" style="margin-left: 5px;">
              <ion-item color="transparent" lines="none">
                <ion-label position="stacked">&nbsp;&nbsp;</ion-label>
                <ion-input [(ngModel)]="agingDays"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="no-margin-padding">
          <ion-col class="no-margin-padding">
            <div class="input-format" style="background: white; height: 35px; margin-bottom: 15px;">
              <ion-item class="transparent" lines="none">
                <ion-input type="text" (ionChange)="onEnterChange($event)" style="margin-bottom: 12px;"
                  placeholder="Search Make or Model ..."></ion-input>
                <ion-icon name="search-outline" style="font-size: 20px; margin-bottom: 12px;" (click)="search()">
                </ion-icon>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="transparent">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles" style="color: white;"
        [refreshingText]="'Loading' | translate">
      </ion-refresher-content>
    </ion-refresher>

    <div style="text-align: center;">
      <ion-label [hidden]="!noData" class="vertical" style="margin-top: 38px; font-size: 16px; z-index: 12;">No Data
      </ion-label>
    </div>

    <div *ngFor="let data of dataJson" class="stock" style="border-bottom: 1px black solid;">
      <ion-item-divider color="warning" sticky="true">
        <ion-label class="no-margin-padding" >{{data.MakeName}}</ion-label>
      </ion-item-divider>
      <div *ngFor="let item of data.ModelJson" style="background-color: rgb(236, 236, 236);">
        <ion-item-divider color="tertiary">
          <ion-label class="no-margin-padding" style="margin-left: 15px;">{{item.Model}}</ion-label>
          <ion-icon name="chevron-forward-outline" style="position: absolute; right: 15px;" (click)="util.goto('stock','cn-detail',item.Make + '~' + item.Model, focusSelected)"></ion-icon>
        </ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col size="3">Order (NC)</ion-col>
            <ion-col size="3">Allocated</ion-col>
            <ion-col size="3">Unassigned</ion-col>
            <ion-col size="3">Max Aging</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">{{item.OrderCount}}</ion-col>
            <ion-col size="3">{{item.AllocatedStock}}</ion-col>
            <ion-col size="3">{{item.UnallocatedStock}}</ion-col>
            <ion-col size="3" [hidden]="!item.MaxAging">{{item.MaxAging}}</ion-col>
            <ion-col size="3" [hidden]="item.MaxAging">-</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="infiniteLoad($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>