<ion-app style="background: url(./assets/background/loginbackground.jpg) no-repeat center/cover fixed;">

  <ion-content class="transparent">
  </ion-content>

  <ion-footer class="footer ion-no-border">
    <div class="title">
      <ion-label style="font-size: 20px; color: black;">DAILY SALES TRACKER</ion-label>
    </div>

    <div class="login">
      <form [formGroup]="sbtForm" class="ion-margin-top ion-text-center">
        <ion-item class="transparent">
          <ion-label position="stacked" style="margin-bottom: 10px;">Email:</ion-label>
          <ion-input maxlength="200" formControlName="Email" style="width: 90%; font-size: 12px;">
          </ion-input>
        </ion-item>

        <ion-item class="transparent">
          <ion-label position="stacked" style="margin-bottom: 10px;">Password:</ion-label>
          <ion-input style="width: 90%; font-size: 12px;" [type]="showPassword? 'text' : 'password'"
            formControlName="Password">
          </ion-input>
          <ion-icon [name]="showPassword? 'eye' : 'eye-off'" (click)="showPassword = !showPassword"
            style="position: absolute; right: 10px; bottom: 15px;"></ion-icon>
        </ion-item>
      </form>
    </div>

    <ion-button (click)="login()" class="loginButton" expand="block" shape="round" style="--background: #1A133F; color: white;">
      {{'Field.Login' | translate}}
    </ion-button>
  </ion-footer>
</ion-app>