<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">
    <ion-tab-button tab="home" class="inner-left-btn">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button-center">
      <ion-icon name="add"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales" class="inner-right-btn">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>