.input-format {
  background: #f3f3f3;
  margin: 5px;
  border-radius: 10px;
  letter-spacing: 1px;
  height: 52px;
  color: white;
  font-size: 14px;

  ion-icon {
    margin-left: 0px;
    font-size: medium;
    color: black;
  }

  ion-select {
    font-size: 14px;
  }

  ion-input {
    font-size: 14px;
  }

  ion-datetime {
    font-size: 14px;
  }

  ionic-selectable {
    font-size: 14px;
    width: 100%;
  }
}

.action-menu-button {
  font-size: 16px;
  letter-spacing: 2px;
  height: 50px;
  --border-radius: 5px;
  --background: #596bf4;
  --color: #FFFFFF;
}

.required:after {
  content: " *";
  color: red;
}

.vertical {
  margin: 0 5%;
  position: absolute;
  top: 60%;
  right: 0px;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

.vertical2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.salesTable {
  text-align: center;

  ion-col {
    border: black 1px solid;
    padding: 5px;
  }

  ion-row {
    margin: 0 10px;
  }

  .cellDisabled {
    background-color: rgb(197, 197, 197);
    --background: rgb(197, 197, 197);
  }

  .cellEnabled {
    background-color: rgb(255, 255, 104);
    --background: rgb(255, 255, 104);
  }

  .header {
    padding: 10px;
  }

  input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    text-align: center !important;
    padding: 5px;
    margin: 0;
  }
}

ion-checkbox.checkbox-disabled {
  opacity: 1;
}

.statusCard {
  ion-row {
    text-align: center;
  }

  ion-col {
    padding: 0px;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
  }

  ion-toolbar {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    --min-height: 20px !important;

    ion-label {
      font-size: 10px;
    }
  }

  ion-label {
    font-size: 12px;
  }

  .goto {
    margin: 0 5%;
    position: absolute;
    top: 60%;
    right: 0px;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
  }
}