/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.no-margin-padding {
  margin: 0px;
  padding: 0px;
  --margin: 0px;
  --padding: 0px;
}

.salesTable {
  padding: 4px 2px 4px;
  color: #808080;

  ion-col {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #bfbfbf;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 5px 8px;
  }

  .cellEnabled {
    background-color: white;
    color: black;
  }

  .header {
    width: 100%;
  }

  .header-left {
    text-align: left;
    border-left: 1px solid;
    border-color: #bfbfbf;
  }

  .borderbottom {
    border-bottom: 1px solid;
    border-color: #bfbfbf;
  }

  .borderEmpty {
    background-color: white;
    border-top: 0px solid;
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-right: 1px solid;
    border-color: #bfbfbf;
  }

  input {
    background-color: transparent;
    width: 100%;
    height: 20px !important;
    outline: none;
    border: none;
    text-align: right !important;
    padding: 0px;
    margin: 0;
    font-size: 14px;
  }
}

.my-popover-wide {
  @media only screen and (max-width: 320px) {
    --min-width: 95%;
  }

  @media only screen and (min-width: 320px) {
    --min-width: 95%;
  }

  @media only screen and (min-width: 400px) {
    --min-width: 95%;
  }

  @media only screen and (min-width: 500px) {
    --min-width: 80%;
  }

  @media only screen and (min-width: 600px) {
    --min-width: 60%;
  }
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: normal !important;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  white-space: normal !important;
}

.item-divider-wrapper {
  padding: 0%;
  margin: 0%;
}

.ionic-selectable-ios .ionic-selectable-value {
  padding-bottom: 30px !important;
  height: 5px !important;
}